.credit-card {
    width: 300px;
    height: 180px;
    max-height: 180px;
    min-height: 180px;
    background-color: #285DCD;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed";
    font-size: 23px;
    margin: 0;
    padding: 0;
}

.credit-card-front {
}

.number {
    margin-top: 70px;
    font-size: 23px;
    letter-spacing: 1px;
    padding: 0 25px 0 25px;
}

.information-wrapper {
    display: flex;
    align-items: center;
    padding: 2px 25px 0 25px;
    height: 35px;
}

.name {
    text-transform: unset;
    padding: 0 25px 0 25px;
    margin: 0;
}

.credit-card-front > .name {
    margin-bottom: 35px;
    margin-top: 5px;
}

.credit-card-back{
    margin-top: 30px;
}

.magnetic-strip {
    width: 100%;
    height: 35px;
    margin-top: 22px;
    background-color: black;
}

p {
    text-transform: uppercase;
}

.credit-card-front .information-wrapper>p {
    word-spacing: 100vw;
    font-size: 12px;
    width: 40px;
}

.credit-card-front .information-wrapper>p~p {
    font-size: 20px;
}

.credit-card-back > .information-wrapper {
    background-color: #C4C4C4;
    height: 35px;
    align-items: flex-start;
    margin: 15px 110px 0 10px;
    padding: 0 0 0 20px;
}

.credit-card-back > .information-wrapper > .name {
    font-family: "Satisfy";
    padding: 0;
    margin: 0;
    width: 200px;
}

.credit-card-back > .information-wrapper > .number {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 0 0 0 10px;
}
